<h3><%= display_artist @song %></h3>
ul>
<% @songs.each do |song| %>
  <li><h3><%= display_artist song %></h3> = <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
